<form method="post">
    {% include 'html/form.twig' with {block : data.block, module : data.module, action: "linkCategories"} %}
    <select name="category_id">
        <option value="0">---</option>
        {% for cat in data.categories %}
            <option value="{{ cat.id }}">
                {% if(cat.level == 1) %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                {% if(cat.level == 2) %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                {{ cat.title }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="save">
    {% for key,category in data.client_categories %}
        <div>
            <input type="checkbox" name="cat[{{ category.id }}]"/>
            {% if(category.category_id) %}{{ data.categories[category.category_id].title }}{% endif %}
            {% if(category.category_id==0) %}----{% endif %}
            <a href="{{ category.url }}">{{ category.name }}</a>

        </div>
    {% endfor %}
    <input type="submit" value="save">
</form>