<input type="hidden" name="writemodule" value="form">
<input type="hidden" name="module" value="{{ module }}">
<input type="hidden" name="block" value="{{ block }}">
<input type="hidden" name="action" value="{{ action }}">