{# @var $page \Plumbus\Core\Controller\Page\WebPage #}
<head>
    {% if page.getTitle() %}
        <title>{{ page.getTitle() }}</title>
    {% endif %}
    {% if page.getDescription() %}
        <meta name="description" content="{{ page.getDescription() }}">
    {% endif %}
    {% if page.getKeywords() %}
        <meta name="keywords" content="{{ page.getKeywords() }}">
    {% endif %}
    <meta charset="{{ page.getPageCharset() }}"/>
    {% for css in page.getCss() %}
        <link rel="stylesheet" href="{{ css }}"/>
    {% endfor %}
    {% for js in page.getJs() %}
        <script src="{{ js }}"></script>
    {% endfor %}
</head>