{% if debug %}<!--block {{ block }}-->{% endif %}{% for module in data.getBlockModules(block) %}{% if debug %}<!--module template {{ module.template }}-->{% endif %}{% include module.template with {data : module.data} %}{% endfor %}{% if debug %}<!--/block {{ block }}-->{% endif %}