<!DOCTYPE html>
<html>{% include 'html/head.twig' with {page : page, debug : debug} %}
<body>
<div class="wrapper">
    <div class="header">
        <div class="head">
            <div class="logo">
                <span>Cyprus market</span>

                <p>All you can buy in Cyprus</p>
            </div>
            <div class="header-line">
                {% include 'internal/block.twig' with {debug : debug, block : 'header', data : data} %}
            </div>
        </div>
    </div>
    <div  id="content" class="content clearfix">
        <div class="column clearfix">{% include 'internal/block.twig' with {debug : debug, block : 'content', data : data} %}</div>
        <div class="sidebar clearfix">{% include 'internal/block.twig' with {debug : debug, block : 'sidebar', data : data} %}</div>
    </div>
    <div class="footer">
        {% include 'internal/block.twig' with {debug : debug, block : 'footer', data : data} %}
    </div>
</div>
</body>
</html>